body {
    text-align: center;
    width: 50%;
    background-color: aqua;
}
    h1,h4 { background-color: burlywood;
        font-family: 'Niramit', sans-serif;       
}
    p 
        {font-family: 'Lora', serif;}
    .img 
        {
        height: 50%;
        width: 50%;
}